body {
    margin: 0;
    font-family: Segoe UI;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.container {
    width: 95%;
    height: 90vh;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 260px;
    background: #13294b;
    color: white;
    padding: 20px;
}

.user {
    padding: 12px;
    margin: 8px 0;
    background: #1f3c88;
    border-radius: 8px;
    cursor: pointer;
}

.user.active {
    background: #20b2aa;
}

.status {
    margin-top: 20px;
}

.chat {
    flex: 1;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    background: #1f3c88;
    color: white;
}

.online {
    float: right;
    color: #00ff9c;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.allowed {
    background: #d4ffd4;
}

.blocked {
    background: #ff4d4d;
    color: white;
    font-weight: bold;
}

.input-area {
    display: flex;
    padding: 10px;
    background: white;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background: #20b2aa;
    color: white;
}
